<div  class="text-box" cdkDragBoundary=".mat-card-content-report , .mat-card-header-report" cdkDrag (resize)="stop()">
  <div class="movement-line" cdkDragHandle></div>  
  <span class="mx-1 left-move-icon" cdkDragHandle>
      <i class="fa-solid fa-up-down-left-right"></i>
    </span>
    <div class="d-flex align-items-center parentNodeText">
      <!-- reporting settings -->
      <div class="icon-container">
        <div class="d-flex align-items-center">
          <!-- delete element icon -->
          <span class="mx-1 element-remove-icon" (click)="confirmationDeleteTextBox($event)">
            <i class="fa-solid fa-xmark"></i>
          </span>
          <!-- edit element icon -->
          <span class="mx-1 element-edit-icon" (click)="openEditTextDialog()">
            <i class="fa-solid fa-pencil"></i>
          </span>
          <!-- edit element icon -->
          <span class="mx-1 element-move-icon" cdkDragHandle>
            <i class="fa-solid fa-up-down-left-right"></i>
          </span>
        </div>
      </div>
      <!-- element content text -->
      <ng-content select=".text-editable" class="textarea">

      </ng-content>

    </div>
  </div>
