<div class="table-container" style="overflow-x: auto;">
  <div class="data-source-table position-relative mx-auto" #dataSourceTable cdkDragBoundary=".card-content-report" cdkDrag
  [style.width]="table.width+'%'" >
  <div class="inline-table-operation" [hidden]="!inlineOperationObject.showInlineOperationContainer">

  </div>
  <div class="movement-line" cdkDragHandle></div>
  <span class="mx-1 left-move-icon" cdkDragHandle>
    <i class="fa-solid fa-up-down-left-right"></i>
  </span>
  <p class="table-title" *ngIf="table.title">{{table.title}}</p>
  <span class="table-number">{{tableNumber}}</span>
  <div class="icon-container">
    <div class="d-flex align-items-center">
      <!-- delete element icon -->
      <span class="mx-1 element-remove-icon" (click)="confirmationDeleteTable($event)">
        <i class="fa-solid fa-xmark"></i>
      </span>
      <!-- edit element icon -->
      <span class="mx-1 element-move-icon" cdkDragHandle>
        <i class="fa-solid fa-up-down-left-right"></i>
      </span>
    </div>
  </div>
  <p-table #dt class="h-100" [columns]="selectedColumns"  [value]="reports" [resizableColumns]="true"
    [reorderableColumns]="true" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" #tableTheading class="text-center" [pSortableColumn]="col.field"
          pResizableColumn pReorderableColumn [style.padding]="table.cellPadding+'px'"
          [style.fontSize]="table.thFontSize+'px'" (contextmenu)="onContextMenu($event , tableTheading , col , 'th')">
          <p class="icon-sorting-fixed">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </p>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr [pReorderableRow]="index" [pSelectableRow]="rowData" class="position-relative">
        <td *ngFor="let col of columns" #tableData id="column-{{col.field}}" class="text-center" pReorderableRowHandle
          [style.padding]="table.padding+'px'" [style.fontSize]="table.tdFontSize+'px'"
          (contextmenu)="onContextMenu($event , tableData , col , 'td')" dir="rtl" (dblclick)="selectedTdForOperation(tableData , rowData[col.field])">
          <div *ngIf="col.field == 'image'; else colData">
            <img [src]="rowData[col.field]" alt="img" width="50"
              style="width: 50px; opacity: 1 !important; display: inline-block;">
          </div>
          <ng-template #colData>{{rowData[col.field]}}
          </ng-template>
        </td>
        <span class="add-new-column add-column-right" (click)="addColumnToTable('column_right')">+</span>
        <span class="add-new-column add-column-left" (click)="addColumnToTable('column_left')">+</span>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary" class="text-right">
      <p class="text-right mb-0 d-block w-100" dir="ltr"> المجموع الكلى {{reports?.length}}</p>
    </ng-template>
  </p-table>
  <div class="aggregate-container" *ngIf="functionSelected.length != 0">
    <app-aggregate [functions]="functionSelected" [reports]="reports"></app-aggregate>
  </div>
</div>
</div>

<!-- this template will be rendered at report component in spicific place -->
<ng-template #settings>
  <div class="table-settings w-100 animate__animated  animate__flipInX">
    <a class="collabse-btn w-100 d-flex justify-content-between align-items-center" data-toggle="collapse"
      [href]="'#'+settingsId" role="button" aria-expanded="false" aria-controls="collapseExample"
      style="background-color: aliceblue;">
      <span class="d-inline-block">
        <span class="table-icon-settings ml-2">
          <i class="fa-solid fa-table" style="color: #8a8a8a;"></i>
        </span>
        اعدادات الجدول {{this.tableNumber}}
      </span>
      <span>
        <button class="btn btn-outline-danger btn-sm" style="padding: 0px 10px;"
          (click)="confirmationDeleteTable($event)">حذف</button>
      </span>
    </a>

    <div class="collapse" [id]="settingsId">
      <div class="card card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group text-right">
              <input type="text" id="tableTitleChanger" placeholder=" " [(ngModel)]="table.title">
              <label for="tableTitleChanger">عنوان الجدول</label>
            </div>
          </div>
          <!-- table width -->
          <div class="col-6">
            <div class="form-group text-right">
              <input type="number" id="tableWidthChanger" placeholder=" " min="50%" max="100" [(ngModel)]="table.width">
              <label for="tableWidthChanger">عرص الجدول</label>
            </div>
          </div>
          <div class="col-6">
            <!-- export table -->
            <div class="btn-group">
              <button type="button" class="export-dropdown" data-toggle="dropdown" aria-expanded="false">
                Exports
                <i class="fa-solid fa-caret-down"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-center">
                <button class="dropdown-item" type="button" (click)="exportPdf()">Export PDF</button>
                <button class="dropdown-item" type="button" (click)="exportExcel()">Export EXCEL</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <!-- table padding -->
            <div class="form-group">
              <input type="range" class="form-control-range" id="tablePaddingChanger" [(ngModel)]="table.padding"
                min="1" max="30" step="1">
              <label for="tablePaddingChanger">حواف خلاياالجدول</label>

            </div>
          </div>
          <div class="col-12">
            <!-- table header font size -->
            <div class="form-group">
              <input type="range" class="form-control-range" id="thFontChanger" [(ngModel)]="table.thFontSize" min="10"
                max="30" step="1">
              <label for="thFontChanger">حجم خط العنوان</label>
            </div>
          </div>
          <div class="col-12">
            <!-- table data font size -->
            <div class="form-group">
              <input type="range" class="form-control-range" id="tdFontChanger" [(ngModel)]="table.tdFontSize" min="10"
                max="30" step="1">
              <label for="tdFontChanger">حجم خط الخلايا</label>
            </div>
          </div>
          <!-- determine show columns -->
          <div class="col-12">
            <div class="table-collabse-determine my-2">
              <label for="showColumns" class="text-right w-100">اختر الاعمدة المراد عرضها</label>
              <p-multiSelect id="showColumns" [options]="cols" appendTo="body" [(ngModel)]="selectedColumns"
                optionLabel="header" selectedItemsLabel="{0} عدد الاعمدة" [style]="{minWidth: '200px'}"
                defaultLabel="اختر الاعمدة">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-12">
            <!-- filter columm -->
            <div class=" animate__animated animate__headShake table-collabse-filter my-2 ui-rtl text-right" dir="rtl">
              <button class="btn btn-primary btn-sm mx-1" (click)="createNewFilter()">اضافه تنقيه</button>
              <button class="btn btn-primary btn-sm mx-1" (click)="createNewFunction()">اضافه داله</button>
              <button class="btn btn-primary btn-sm mx-1" (click)="createNewOperation()">اضافه عمليه</button>
              <div class="filter-container-template">
                <ng-template #filterContainer class="filter-container">-

                </ng-template>
              </div>
              <div class="function-container-template">
                <ng-template #functionContainer class="function-container">

                </ng-template>
              </div>
              <div class="operation-container-template">
                <ng-template #operationContainer class="operation-container">

                </ng-template>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>

</ng-template>
<context-menu #tableContext (close)="afterContextMenuClose()">
  <ng-template contextMenuItem [subMenu]="highlightMenuSub">
    <p class="m-0 p-0">
      تظليل الخلفيه
    </p>
  </ng-template>

  <context-menu #highlightMenuSub (close)="afterContextMenuClose()">

    <ng-template contextMenuItem (execute)="highlightCell($event.item  , 'onlyCell')" [enabled]="enableContextItem">

      <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center"
        (click)="handleClickedColor()">
        <div class="color-select-span" [style.backgroundColor]="selectedColorOnlyCell"></div>
        <p class="p-0 m-0">
          تظليل الخليه فقط
        </p>
      </div>

    </ng-template>
    <ng-template contextMenuItem (execute)="highlightCell($event.item  , 'allRowWithoutHighlight')"
      [enabled]="enableContextItem">
      <div class="p-0 m-0 position-relative  d-flex justify-content-between align-items-center"
        (click)="handleClickedColor()">
        <div class="color-select-span mr-2" [style.backgroundColor]="selectedColorRowWithoutCell"></div>
        <p class="p-0 m-0">
          تظليل الصف بالكامل ماعدا المظلله
        </p>
      </div>
    </ng-template>
    <ng-template contextMenuItem (execute)="highlightCell($event.item  , 'allRow')" [enabled]="enableContextItem">
      <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center"
        (click)="handleClickedColor()">
        <div class="color-select-span" [style.backgroundColor]="selectedColorAllRow"></div>
        <p class="p-0 m-0">
          تظليل الصف بالكامل
        </p>
      </div>
    </ng-template>
    <ng-template contextMenuItem (execute)="highlightCell($event.item  , 'allColumn')" [enabled]="enableContextItem">
      <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center"
        (click)="handleClickedColor()">
        <div class="color-select-span" [style.backgroundColor]="selectedColorAllColumn"></div>
        <p class="p-0 m-0">
          تظليل العامود بالكامل
        </p>
      </div>
    </ng-template>
    <ng-template contextMenuItem [subMenu]="removeHighlightMenu">
      <p class="m-0 p-0">
        ازاله تظليل الخلفيه
      </p>
    </ng-template>
    <context-menu #removeHighlightMenu>
      <ng-template contextMenuItem (execute)="removeHighlightCell($event.item  , 'onlyCell')">

        <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center">
          <div class="color-select-span" [style.backgroundColor]="selectedColorOnlyCell"></div>
          <p class="p-0 m-0">
            ازاله تظليل الخليه فقط
          </p>
        </div>

      </ng-template>
      <ng-template contextMenuItem (execute)="removeHighlightCell($event.item  , 'allRowWithoutHighlight')">
        <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center">
          <div class="color-select-span mr-2" [style.backgroundColor]="selectedColorRowWithoutCell"></div>
          <p class="p-0 m-0">
            ازاله تظليل الصف بالكامل ماعدا المظلله
          </p>
        </div>
      </ng-template>
      <ng-template contextMenuItem (execute)="removeHighlightCell($event.item  , 'allRow')">
        <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center">
          <div class="color-select-span" [style.backgroundColor]="selectedColorAllRow"></div>
          <p class="p-0 m-0">
            ازاله تظليل الصف بالكامل
          </p>
        </div>
      </ng-template>
      <ng-template contextMenuItem (execute)="removeHighlightCell($event.item  , 'allColumn')">
        <div class="p-0 m-0 position-relative d-flex justify-content-between align-items-center">
          <div class="color-select-span" [style.backgroundColor]="selectedColorAllColumn"></div>
          <p class="p-0 m-0">
            ازاله تظليل العامود بالكامل
          </p>
        </div>
      </ng-template>
    </context-menu>
    <ng-template contextMenuItem>
      <div class="p-0 m-0 position-relative" (click)="showColorDialog()">
        <p class="p-0 m-0">
          خصائص التظليل
        </p>
      </div>
    </ng-template>
    <!-- <context-menu #selectedColorSubMenu>
      <ng-template contextMenuItem (execute)="highlightCell($event.item  , 'onlyCell')">
        تظليل باللون الاصفر
    </ng-template>
      <ng-template contextMenuItem [enabled]="false">
        اختيار لون التظليل
      </ng-template>
    </context-menu> -->
  </context-menu>

  <ng-template contextMenuItem (execute)="doOperation($event.item)">
    <p class="m-0 p-0">
      اضافه عمليه
    </p>
  </ng-template>
  <ng-template contextMenuItem>
    <p class="m-0 p-0">
      دمج الخلايا
    </p>
  </ng-template>
</context-menu>
<!-- colors specifications -->
<p-dialog header="خصائص التظليل" [(visible)]="colorTableSelectDialog" closeIcon="" [style]="{width: '40vw'}" dir="rtl">

  <div class="dialog-content overflow-hidden">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <p class="par-describtion-color" style="width: 350px;">

              يمكنك تغيير لون التظليل فى كلا من الخليه فقط او
              الصف بالكامل او العامود بالكامل او الصف ماعدا المظلل

            </p>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="filter-columns-select">
                      <label for="filterColumn" class="text-right w-100">تحديد التظليل </label>
                      <p-dropdown id="filterColumn" appendTo="body" [options]="highlightOptions"
                        [(ngModel)]="selectedHighlighOption" dir="rtl"></p-dropdown>
                    </div>
                  </div>
                  <div class="col-4 d-flex justify-center align-items-center">
                    <div class="span-circle-color mt-3" [style.backgroundColor]="pickColor"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="color-platte" style="width: 265px; background-color: #FFF;">
              <!-- inline color -->
              <div class="inline-color" style="padding:20px;">
                <div class="color-hue py-2">
                  <color-hue-picker [color]="pickColor" (onChangeComplete)="changeComplete($event)"></color-hue-picker>
                </div>
                <div class="color-alpha py-2">
                  <color-alpha-picker [color]="pickColor"
                    (onChangeComplete)="changeComplete($event)"></color-alpha-picker>
                </div>
              </div>
              <!-- compact color -->
              <div class="compact-color" style="padding:10px;">
                <color-compact [color]="pickColor" (onChangeComplete)="changeComplete($event)"></color-compact>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>


  <p-footer>
    <button type="button" class="btn btn-success btn-sm" (click)="saveColorTableDialog()">نعم</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="closeColorTableDialog()">تجاهل</button>
  </p-footer>


</p-dialog>


<!-- colors specifications -->
<p-dialog header="اضافه عمليه" [(visible)]="operationOnCellDialog" closeIcon="" [style]="{width: '40vw'}" dir="rtl">

  <div class="dialog-content pb-5">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <p class="par-describtion-color" style="width: 350px;">

              يمكنك تغيير لون التظليل فى كلا من الخليه فقط او
              الصف بالكامل او العامود بالكامل او الصف ماعدا المظلل

            </p>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="select-operation-option px-2" style="width: 60%">
                  <label for="operationOption" class="text-right w-100">تحديد العمليه </label>
                  <p-dropdown id="operationOption" [options]="operationOptions" [(ngModel)]="selectedOperationOption"
                    dir="rtl"></p-dropdown>
                </div>
              </div>
              <div class="col-12" *ngIf="selectedoperationLimitOptions == 'allColumn'">
                <p class="par-describtion-color px-3" style="width: 350px;"> سيتم تظبيق هذة العمليه على قيم العمود
                  بلكامل </p>
              </div>
            </div>


            <div class="actions my-2 px-2">
              <button class="btn btn-secondary btn-sm add-input" (click)="addInputNumber()"
                *ngIf="selectedOperationOption != 'automatic'">
                اضافه رقم
              </button>
              <div class="signOperations d-flex align-items-center" *ngIf="selectedOperationOption == 'automatic'">
                <span class="arthmaticOperation-item" (click)="addSignInputNumber('sum')">+</span>
                <span class="arthmaticOperation-item" (click)="addSignInputNumber('minus')">-</span>
                <span class="arthmaticOperation-item" (click)="addSignInputNumber('divide')">/</span>
                <span class="arthmaticOperation-item" (click)="addSignInputNumber('multiply')">*</span>
              </div>
            </div>
            <hr>
            <div class="operation-container position-relative">
              <!-- normal arthmaic inputs -->
              <div class="noramal-arthmatic" [hidden]="selectedOperationOption == 'automatic'">
                <!-- fixed input number -->
                <app-add-input [disabled]="true"></app-add-input>
                <app-add-input #staticAddInputComponent [value]="0"></app-add-input>
                <ng-container #inputNumberContainer></ng-container>
              </div>
              <!-- dynamic arthamatic or automatic arthamitic -->
              <div class="automatic-operation" [hidden]="selectedOperationOption != 'automatic'">
                <app-add-sign-input [disabled]="true" [value]="cellValue"></app-add-sign-input>
                <ng-container #signInputNumberContainer></ng-container>
              </div>
            </div>
          </div>
          <div class="col-4" style="border-right: 1px solid #ccc;">
            <div class="operation-number-preview">
              <p>ناتج العمليه الحسابيه</p>
              <span class="operation-span-preview" #operationSpanPreview>
                {{allInputsValue}}
              </span>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>


  <p-footer>
    <button type="button" class="btn btn-success btn-sm" (click)="saveOperationOnCellDialog()">اضافه</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="closeOperationOnCellDialog()">تجاهل</button>
  </p-footer>


</p-dialog>


<!-- opeartion on table level -->
<p-dialog [(visible)]="operationOnTableDialog" closeIcon="" [style]="{width: '40vw'}" dir="rtl">

  <p-header>
    <span *ngIf="advancedOperationObject.isOperationUpdated">تعديل العمليه</span>
    <span *ngIf="!advancedOperationObject.isOperationUpdated">اضافه العمليه</span>
  </p-header>
  
  <div class="dialog-content pb-5">
    <div class="row p-2">
      <div class="col-12">
        <!-- column name -->
        <p class="par-describtion-color" style="width: 450px;"> يتم تحديد اسم العمليه وهذا الاسم يمثل عنوان العمود </p>
        <div class="form-group text-right">
          <input type="text" id="columnTitleChanger" style="width: 180px;" placeholder="" [(ngModel)]="advancedOperationObject.columnTitle">
          <label for="columnTitleChanger">اسم العمليه</label>
        </div>
        <hr>
      </div>
      <div class="col-12">
        <p class="par-describtion-color" style="width: 550px;">
          يمكن اضافه عمليه حسابيه حسب اختيارك سواء عمليه تتم بين الاعمدة المختلفه او عمليه عشوائيه وتحديد اختيار متقدم
          يسمح لك بعمل عمليه متعددة بدل من تطبيق عمليه واحدة على كل الاعمدة
        </p>
      </div>
      <!-- operation type onColumns || random -->
      <div class="col-6">
        <div class="filter-columns-select">
          <label for="operationTypes" class="text-right w-100">اختر نوع العمليه </label>
          <p-dropdown id="operationTypes"  [options]="operationTypes"
            [(ngModel)]="advancedOperationObject.selectedOperationType"></p-dropdown>
        </div>
      </div>
      <!-- opertion options -->
      <div class="col-6">
        <div class="filter-columns-select">
          <label for="operationOptions" class="text-right w-100">اختر العمليه </label>
          <p-dropdown id="operationOptions" [options]="operationOptionsOnTable"
            [(ngModel)]="advancedOperationObject.selectedOperationOptionOnTable"></p-dropdown>
        </div>
      </div>

      <!--------------------------------------- not advanced ----------------------------------->
      <!-- operation option not equal advanced -->
      <div class="col-12 mt-3 mb-3" *ngIf="advancedOperationObject.selectedOperationOptionOnTable != 'advanced'">
        <div class="row">
          <!-- operation type is onColumns and operation option not equal advanced -->
          <div class="col-12" *ngIf="advancedOperationObject.selectedOperationType == 'onColumns'">
            <!-- column selector option multiselect -->
            <div class="operation-on-columns">
              <label for="operationTypes" class="text-right w-100">اختر الاعمدة </label>
              <p-multiSelect id="operationTypes" [options]="selectedNumberColumns"
                [(ngModel)]="this.advancedOperationObject.selectedColumnsForAdvancedOperation"></p-multiSelect>
            </div>
          </div>
          <!-- details of operation include columns names and operation option -->
          <div class="col-12"
            *ngIf="advancedOperationObject.selectedOperationType == 'onColumns' && this.advancedOperationObject.selectedColumnsForAdvancedOperation.length > 0 && advancedOperationObject.selectedOperationOptionOnTable != 'advanced'">
            <div class="details-operation">
              <div class="row" style="padding: 0px 20px;">
                <div class="col-8">
                  <ul class="selected-cols-options mt-2 p-0">
                    <li *ngFor="let col of this.advancedOperationObject.selectedColumnsForAdvancedOperation; let i = index">
                      <span class="operation-sign mx-2">
                        {{
                        advancedOperationObject.selectedOperationOptionOnTable == 'sum'
                        ? '+'
                        : advancedOperationObject.selectedOperationOptionOnTable == 'minus'
                        ? '-'
                        : advancedOperationObject.selectedOperationOptionOnTable == "divide"
                        ? '/' : '*'
                        }}
                      </span>
                      {{col}}
                    </li>
                  </ul>
                </div>
                <div class="col-4 text-left" style="margin-top: 7px;">
                  <span class="operation-name">
                    {{
                    advancedOperationObject.selectedOperationOptionOnTable == 'sum'
                    ? 'عمليه جمع'
                    : advancedOperationObject.selectedOperationOptionOnTable == 'minus'
                    ? 'عمليه طرح'
                    : advancedOperationObject.selectedOperationOptionOnTable == "divide"
                    ? 'عمليه قسمه' : 'عمليه ضرب'
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--------------------------------------- advanced ----------------------------------->
      <!-- operation equal advanced and operation type is onCells -->
      <div class="col-12 mt-3" *ngIf="advancedOperationObject.selectedOperationOptionOnTable == 'advanced' && advancedOperationObject.selectedOperationType == 'onColumns'">
        <app-advanced-operation #appAdvancedOperationComponent [itemSource]="reports" [selectedColumns]="selectedColumns" (evaluationOperationDataArray)="evaluationOperationDataArray($event)"></app-advanced-operation>
      </div>

      <!-- ---------------------------- options for operation -------------------------------- -->
      <div class="col-12">
        <div class="switch-add-term form-check py-1 d-flex">
          <p-inputSwitch [(ngModel)]="advancedOperationObject.addTermToOperation" id="addTermToOperation"></p-inputSwitch>
          <label class="form-check-label mr-3" for="addTermToOperation">هل تريد اضافه ترميز</label>
        </div>
        <div class="term-selected-operation check-inner" *ngIf="advancedOperationObject.addTermToOperation">
          <div class="row">
            <div class="col-4">
              <div class="form-group text-right mb-1">
                <input type="text" id="termChanger" placeholder="" [(ngModel)]="advancedOperationObject.termWord">
                <label for="termChanger">ادخل الترمز</label>
              </div>
            </div>
            <!-- <div class="col-12">
              <div class="selected-term-position d-flex align-items-center mb-2">
                <div class="form-check py-1 d-flex ml-2">
                  <p-checkbox name="groupname" id="addTermOnRightPosition" [(ngModel)]="advancedOperationObject.termWordPositionRight"
                    [binary]="true" (onChange)="addTermOnRight($event)"></p-checkbox>
                  <label class="form-check-label mr-2" for="addTermOnRightPosition"> على اليمين </label>
                </div>
                <div class="form-check py-1 d-flex">
                  <p-checkbox name="groupname" id="addTermOnLeftPosition" [(ngModel)]="advancedOperationObject.termWordPositionLeft"
                    [binary]="true" (onChange)="addTermOnLeft($event)"></p-checkbox>
                  <label class="form-check-label mr-2" for="addTermOnLeftPosition"> على اليسار </label>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="switch-selected-color form-check py-1 d-flex">
          <p-inputSwitch [(ngModel)]="advancedOperationObject.addLightOnOpertionOnTable" id="addLightForOperation"></p-inputSwitch>
          <label class="form-check-label mr-3" for="addLightForOperation">هل تريد اضافه تظليل</label>
        </div>
        <div class="color-selected-operation check-inner" *ngIf="advancedOperationObject.addLightOnOpertionOnTable">
          <div class="selected-light-heading d-flex align-items-center justify-content-between pl-3">
            <div class="form-check py-1 d-flex">
              <p-checkbox name="groupname" id="addLightForOperationHeadingOnly" [(ngModel)]="advancedOperationObject.lightHeading"
                [binary]="true" (onChange)="switchLightOperation($event , 'column_heading')"></p-checkbox>
              <label class="form-check-label mr-2" for="addLightForOperationHeadingOnly">تظليل عنوان العمود
              </label>
            </div>

            <div class="selected-colors-circle d-inline-block" *ngIf="advancedOperationObject.lightHeading">
              <ngx-colors ngx-colors-trigger [(ngModel)]="advancedOperationObject.selectedOperationOnTableColorLightHeading"></ngx-colors>
            </div>
          </div>
          <div class="selected-light-heading d-flex align-items-center justify-content-between pl-3">
            <div class="form-check py-1 d-flex">
              <p-checkbox name="groupname" id="addLightForOperationAllCells" [(ngModel)]="advancedOperationObject.lightAllCells"
                [binary]="true" (onChange)="switchLightOperation($event , 'column_cells')"></p-checkbox>
              <label class="form-check-label mr-2" for="addLightForOperationAllCells">تظليل خلايا العمود</label>
            </div>
            <div class="selected-colors-circle d-inline-block" *ngIf="advancedOperationObject.lightAllCells">
              <ngx-colors ngx-colors-trigger [(ngModel)]="advancedOperationObject.selectedOperationOnTableColorLightAllCell"></ngx-colors>
            </div>
          </div>
          <div class="selected-light-heading d-flex align-items-center justify-content-between pl-3">
            <div class="form-check py-1 d-flex">
              <p-checkbox name="groupname" id="addLightForOperationAllColumn" [(ngModel)]="advancedOperationObject.lightAllColumn"
                [binary]="true" (onChange)="switchLightOperation($event , 'all_column')"></p-checkbox>
              <label class="form-check-label mr-2" for="addLightForOperationAllColumn">تظليل العمود
                بالكامل</label>  
            </div>
            <div class="selected-colors-circle d-inline-block" *ngIf="advancedOperationObject.lightAllColumn">
              <ngx-colors ngx-colors-trigger
                [(ngModel)]="advancedOperationObject.selectedOperationOnTableColorLightAllColumn"></ngx-colors>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>



  <p-footer>
    <button type="button" class="btn btn-{{advancedOperationObject.isOperationUpdated ? 'warning' : 'primary'}} btn-sm"
      (click)="saveOperationOnTableDialog()">
      {{advancedOperationObject.isOperationUpdated ? 'حفظ' : 'اضافه'}}
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="closeOperationOnTableDialog()">تجاهل</button>
  </p-footer>


</p-dialog>