div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
a,
button,
select,
option,
ul,
li ::ng-deep .ui-dropdown-item,
::ng-deep .ui-dropdown-items,
::ng-deep .ui-dropdown-label,
::ng-deep .ui-multiselect-label,
::ng-deep .ng-star-inserted {
  font-family: "Cairo", sans-serif;
}

.data-source-table {
  position: relative;
  margin: 35px 0px;
}

::ng-deep .ui-table {
  overflow: hidden;
}

::ng-deep .ui-table table {
  table-layout: auto !important;
}

::ng-deep .ui-table-wrapper {
  overflow: hidden;
}

::ng-deep .ui-table .ui-table-tbody>tr {
  background-color: #FFF !important;
  color: #000 !important;
}


::ng-deep .ui-table .ui-table-thead>tr>th {
  color: #000 !important;
}

/* ::ng-deep .ui-table .ui-sortable-column.ui-state-highlight{
  background-color: "#F4F4F4" !important;
}  */

::ng-deep .ui-table .ui-table-tbody>tr:nth-child(even) {
  background-color: #f9f9f9 !important;
}

::ng-deep .ui-sortable-column-icon {
  color: #848484 !important;
}

.icon-container {
  position: absolute;
  opacity: 0;
  transition: all 0.4s linear;
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 5px;
  bottom: -30px;
  z-index: 1001;
  right: 0px;
}

.element-remove-icon,
.element-add-icon,
.element-move-icon {
  font-size: 11px;
  width: 18px;
  height: 18px;
  border: 1px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1002;
  transition: all 0.3s linear;
  cursor: pointer;
}

.element-add-icon {
  background-color: #8fb9ed;
}

.element-remove-icon {
  background-color: #fe7a7a70;
}

.element-move-icon:hover {
  background-color: #dcffd0;
  display: block;
}

.left-move-icon {
  width: 25px;
  height: 25px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  left: -5px;
  top: 0;
  transform: translateX(-100%);
  border-radius: 5px 0px 0px 5px;
  opacity: 0;
  cursor: pointer;
  /* 
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    left: -5px;
    top: 0;
    transform: translateX(-100%);
    border-radius: 5px 0px 0px 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out; */
  z-index: 100000000000000000000;
}

.data-source-table:hover .left-move-icon {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.data-source-table:hover .icon-container {
  opacity: 1;
  transition: all 0.4s ease-in-out;

}

::ng-deep .ui-dialog-content {
  overflow-y: auto !important;
}

::ng-deep .ui-dialog-titlebar {
  direction: rtl !important;
}

::ng-deep .ui-sortable-column-icon {
  float: left;
  font-size: 10px !important;
  align-items: center;
  margin-top: 6px;
}

::ng-deep .ui-multiselect.ui-widget {
  border: 1px solid #888;
  outline: none;
  width: 100% !important;
  padding: 5px;
}

::ng-deep .ui-multiselect-item {
  padding: 10px !important;
  direction: ltr !important;
}

::ng-deep .ui-widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .ui-multiselect-panel .ui-multiselect-item span {
  float: inline-end;
}

::ng-deep .ui-dropdown {
  width: 100% !important;
  padding: 5px !important;
}

::ng-deep .ui-dropdown-item {
  text-align: right !important;
}

.collabse-btn {
  display: block;
  border: none;
  outline: none;
  width: 95%;
  padding: 12px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px auto;
  border-radius: 5px;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.export-dropdown {
  background-color: antiquewhite;
  border: none;
  outline: none;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

/* ::ng-deep .ui-table-thead th , ::ng-deep .ui-table-tbody td{
    padding: 15px !important;
  } */

.table-number {
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  position: absolute;
  top: -29px;
  border-radius: 0px 3px 0px 0px;
  font-weight: bold;
  color: #999;
  right: 0;

}

.table-title {
  width: fit-content;
  padding: 5px 7px;
  background-color: antiquewhite;
  border-radius: 5px 0px 0px 0px;
  margin-bottom: 0px;
  position: absolute;
  right: 25px;
  top: -29px;
  color: #555;
}

.aggregate-container {
  background-color: #faebd75c;
  padding: 15px;
}

.icon-sorting-fixed {
  margin: 0 0 12px;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  gap: 5px;
}


.color-select-span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

::ng-deep .hue-picker {
  width: 100% !important;
}

::ng-deep .alpha-picker {
  width: 100% !important;
}

.par-describtion-color {
  padding: 15px 0px;
  width: 460px;
  color: #8e8e8e;
  font-size: 13px;
  text-align: right;
}

.color-preview {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: aliceblue;
  border-radius: 50%;
  border: 3px solid #e0e0e0;

}

.line-span {
  display: inline-block;
  padding: 3px 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.span-circle-color {
  border: 3px solid #c8c8c8;
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 50%;
}

.operation-container {
  padding: 10px;
  overflow: auto;
  max-height: 350px;
}

.operation-number-preview .operation-span-preview {
  display: inline-block;
  padding: 20px;
  background-color: #eef7ff;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  min-width: 165px;
}

.arthmaticOperation-item {
  width: 30px;
  display: inline-block;
  height: 30px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 5px;
}

.arthmaticOperation-item:active {
  box-shadow: none;
}

.add-input {
    bottom: 6px;
    right: 257px;
}

.details-operation {
  border: 1px solid #CCC;
  margin-top: 25px;
  overflow: hidden;
}

.details-operation .operation-item{
  padding: 10px;
  border: 1px dashed #0065d1;
  border-radius: 10px;
}

.details-operation .operation-preview-col {
  padding: 10px;
  background-color: #f0f8ffc7;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.details-operation .operation-preview-sign {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 5px;
  background-color: #e5e7ed;
  font-size: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.details-operation .operation-name{
  background-color: #c5ffe0a1;
  padding: 5px 10px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 7px;
  display: inline-block;
}

.selected-cols-options {
  list-style: none;
}

.selected-cols-options li {
  background-color: #f0f8ffa1;
  padding: 5px 10px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 5px;
}

