<div *ngIf="chartsConfig.direction=='vertical'" dir="ltr" #container style="overflow: auto; height: 100%; width: 100%; " class="shadow">
    <div  #containerBox style="height: 100%; width: 100%;" >
        <canvas [height]="height"  #canvas></canvas>
    </div>
</div>

<div *ngIf="chartsConfig.direction=='horizontal'" dir="ltr" #container style="overflow: auto; height: 100%; width: 100%; " class="shadow">
    <div  #containerBox style="height: 100%; width: 100%;" >
        <canvas [height]="height"  #canvas></canvas>
    </div>
</div>

<div dir="rtl" *ngIf="this.StringType" style="width: 100%; height: 100%; overflow: auto;" class="row d-flex justify-content-center">
    <div *ngFor="let configChart of listChartDynamic" [class]="configChart.type==='pie' || configChart.type==='doughnut'?'col-5 py-2':'col-11 py-2'">
            <app-chartComponent [chartsConfig]="configChart" [width]="configChart._ColumnWidth" [height]="configChart._Height" ></app-chartComponent>    
    </div>
</div>