<div class="charts-container-component"  #chartContainer cdkDragBoundary=".mat-card-content-report , .mat-card-header-report" cdkDrag [cdkDragFreeDragPosition]="dragPosition" (contextmenu)="onContextMenu($event, chartContainer)">
    <div class="charts-box">
        <div class="movement-line" cdkDragHandle></div>
        <span class="mx-1 left-move-icon" cdkDragHandle>
            <i class="fa-solid fa-up-down-left-right"></i> 
        </span>
        <div class="d-flex align-items-center parentNodeText">
            <!-- reporting settings -->
            <div class="icon-container">
                <div class="d-flex align-items-center">
                    <!-- delete element icon -->
                    <span class="mx-1 element-remove-icon" (click)="confirmationDeleteChart()">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                    <!-- edit element icon -->
                    <span class="mx-1 element-edit-icon" (click)="showDialogAddChart()">
                        <i class="fa-solid fa-pencil"></i>
                    </span>
                    <!-- edit element icon -->
                    <span class="mx-1 element-move-icon" cdkDragHandle>
                        <i class="fa-solid fa-up-down-left-right"></i>
                    </span>
                </div>
            </div>
            <!-- element content text -->
            <div class="charts-container m-0" style="width: 100%;" resizable>
                <div *ngIf="chartsConfig.direction=='vertical'" dir="ltr" #container style="overflow: hidden; width: 100%; height: 100%;">
                    <div  #containerBox style="height: 100%; width: 100%;" >
                        <canvas [height]="height" [width]="width"  #canvas></canvas>
                    </div>
                </div>
                
                <div *ngIf="chartsConfig.direction=='horizontal'" dir="ltr" #container style="overflow: hidden; width: 100%; height: 100%;">
                    <div  #containerBox style="height: 100%; width: 100%;" >
                        <canvas [height]="height" [width]="width"  #canvas></canvas>
                    </div>
                </div>
                
                <div dir="rtl" *ngIf="this.StringType" style="width: 100%; height: 100%;" class="row d-flex justify-content-center">
                    <div *ngFor="let configChart of listChartDynamic" [class]="configChart.type==='pie' || configChart.type==='doughnut'?'col-5 py-2':'col-11 py-2'">
                            <app-addchartComponent [chartsConfig]="configChart" [width]="configChart._ColumnWidth" [height]="configChart._Height" ></app-addchartComponent>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- add new chart dialog -->
<p-dialog [(visible)]="displayDialogAddCharts" dir="rtl" [style]="{width: '600px' , zIndex:999999999999999999999}">
    <p-header>
      تعديل رسم ريانات
    </p-header>
    <div class="dialog-content" dir="rtl">
      <!-- chart is donout settings -->
      <div class="charts-settings text-right" *ngIf="chartsConfig?.type == 'doughnut'">
        <div class="row">
          <div class="col-12">
            <p class="par-describtion-way">سيتم عرض البينات طبقا لعامود معين وسيتم تقسيم البيانات على حسب هذا العامود من
              حيث العدد ويمكنك ايضا ان تطبق بعض العمليات</p>
              <div class="row">
                <div class="col-7">
                  <div class="filter-columns-select">
                    <label for="chartColumn" class="text-right w-100"> يتم رسم البيانات طبقا لعامود معين </label>
                    <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.columnsOperations"
                      [(ngModel)]="chartSettings.selectedLabelChartColumn"></p-dropdown>
                  </div>
                </div>
                <div class="col-5">
                  <div class="filter-columns-select">
                    <label for="chartColumn" class="text-right w-100">هل تريد عمليه معينه</label>
                    <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.operations"
                      [(ngModel)]="chartSettings.selectedOperationChartColumn"></p-dropdown>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-7" *ngIf="chartSettings.selectedOperationChartColumn != null && chartSettings.selectedOperationChartColumn != 2">
            <div class="filter-columns-select my-2">
              <label for="chartColumn" class="text-right w-100"> اختر العامود المطلوب للعمليه </label>
              <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.columnsOperations"
                [(ngModel)]="chartSettings.selectedLabelChartColumnForOperation"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <!-- chart is bar settings -->
      <div class="charts-settings text-right" *ngIf="chartsConfig.type == 'bar'">
        <div class="row">
          <!-- way of displaying -->
          <div class="col-7">
            <div class="filter-columns-select">
              <label for="chartColumn" class="text-right w-100">اختر طريقه يتم عرض الرسم بها</label>
              <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.barChartsDisplayWayOptions"
                [(ngModel)]="chartSettings.barChartsDisplayWay"></p-dropdown>
            </div>
          </div>
          <!-- way 1 -->
          <div class="col-12" *ngIf="chartSettings.barChartsDisplayWay == 0">
            <p class="par-describtion-way">سيتم عرض البينات طبقا لعامود معين وسيتم تقسيم البيانات على حسب هذا العامود من
              حيث العدد ويمكنك ايضا ان تطبق بعض العمليات</p>
              <div class="row">
                <div class="col-7">
                  <div class="filter-columns-select">
                    <label for="chartColumn" class="text-right w-100"> يتم رسم البيانات طبقا لعامود معين </label>
                    <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.columnsOperations"
                      [(ngModel)]="selectedLabelChartColumn"></p-dropdown>
                  </div>
                </div>
                <div class="col-5">
                  <div class="filter-columns-select">
                    <label for="chartColumn" class="text-right w-100">هل تريد عمليه معينه</label>
                    <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.operations"
                      [(ngModel)]="chartSettings.selectedOperationChartColumn"></p-dropdown>
                  </div>
                </div>
                <div class="col-12" *ngIf="chartSettings.selectedOperationChartColumn != null && chartSettings.selectedOperationChartColumn != 2">
                  <p class="par-describtion-way">سيتم تطبيق العمليه على العامود المختار بحيث يصنف البيانات على حسب العامود الاول ويعرضها طبقا للعمليه</p>
                    <div class="row">
                      <div class="col-7">
                        <div class="filter-columns-select my-1">
                          <label for="chartColumn" class="text-right w-100"> اختر العامود المطلوب للعمليه </label>
                          <p-dropdown id="chartColumn" appendTo="body" [options]="chartSettings.columnsOperations"
                            [(ngModel)]="chartSettings.selectedLabelChartColumnForOperation"></p-dropdown>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <!-- way 2 -->
          <div class="col-12" *ngIf="chartSettings.barChartsDisplayWay == 1">
  
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" class="btn btn-success btn-sm" (click)="editChart()">تعديل</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="closeChartDialog()">تجاهل</button>
    </p-footer>
  </p-dialog>

  <context-menu #chartMenu>
    <ng-template contextMenuItem (execute)="makeElementFly($event.item)">
      <p class="m-0 p-0" [style.color]="isFlyingElement ? '#332ef6' : '#000'">
        اجعل العنصر طائر
      </p>
  
    </ng-template>

    <ng-template contextMenuItem (execute)="resetElement($event.item)">
        <p class="m-0 p-0">
          الرجوع للحاله الاصليه
        </p>
    </ng-template>

    <ng-template contextMenuItem (execute)="showDialogAddChart()">
      تعديل العنصر
    </ng-template>
    <ng-template contextMenuItem (execute)="confirmationDeleteChart()">
      حذف العنصر
    </ng-template>
  </context-menu>