<div class="image-box" resizable cdkDragBoundary=".card-content-report , .card-header-report" cdkDrag
    [style.width]="imageWidth+'px'" #imageContainer>
    <div class="movement-line" cdkDragHandle></div>
    <span class="mx-1 left-move-icon" cdkDragHandle>
        <i class="fa-solid fa-up-down-left-right"></i>
    </span>
    <div class="d-flex align-items-center parentNodeText w-100 h-100">
        <!-- reporting settings -->
        <div class="icon-container">
            <div class="d-flex align-items-center">
                <!-- delete element icon -->
                <span class="mx-1 element-remove-icon" (click)="confirmationDeleteTextBox()">
                    <i class="fa-solid fa-xmark"></i>
                </span>
                <!-- edit element icon -->
                <span class="mx-1 element-edit-icon" (click)="showAddImageDialog()">
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <!-- edit element icon -->
                <span class="mx-1 element-move-icon" cdkDragHandle>
                    <i class="fa-solid fa-up-down-left-right"></i>
                </span>
            </div>
        </div>
        <!-- element content text -->
        <div class="image-container">
            <img class="dynamic-image" [src]="imageSrc" alt="dynamic-image">
        </div>

    </div>
</div>

<div class="dialog-container" #imageDialog>
    <p-dialog [(visible)]="displayDialogChangeImage" [style]="{width: '600px' , zIndex:999999999999999999999}"
        (onHide)="dialogAddImageHide()">
        <p-header>
            تغيير الصورة
        </p-header>
        <div class="dialog-content">
            <div class="row">
                <div class="col-12">
                    <div class="upload-image">
                        <input type="file" #selectedImageInput class="input-upload d-none" id="uploadImage"
                            (change)="selectedImage($event)">
                        <label class="input-upload-image-label" for="uploadImage">
                            اختر صورة من هنا
                            <span>
                                <i class="fa-solid fa-cloud-arrow-up" style="color: #a2bed7;"></i>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="preiview-container">
                        <img [src]="previewSrc" #priview class="preiview-image" alt="preview image" width="160px" height="120px">
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <button type="button" class="btn btn-success btn-sm" (click)="changeImage()">نعم</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="closeChangeImageDialog()">تجاهل</button>
        </p-footer>
    </p-dialog>
</div>