div , p , h1 , h2 , h3 , h4 , h5 , h6 , span , small , a , button , select , option , ul , li ::ng-deep .ui-dropdown-item ,
 ::ng-deep .ui-dropdown-items , ::ng-deep .ui-dropdown-label , ::ng-deep .ui-multiselect-label , ::ng-deep .ng-star-inserted{
    font-family: "Cairo", sans-serif;
}
.image-box {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    min-width: fit-content;
    z-index: 10;
    transition: background 0.3s linear ;
    min-width: 30px;
    min-height: 30px;
    margin-bottom: 0px !important;
    max-height: 300px;
    max-width: 300px;
    width: 100px;
    height: 100px;
}

.image-box:hover:not(:focus) {
    background-color: #ebecf0;
}


.icon-container {
    position: absolute;
    opacity: 0;
    transition: all 0.4s linear;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    bottom: -30px;
    right: 0px;
}

.element-remove-icon,.element-edit-icon , .element-move-icon {
    font-size: 11px;
    width: 18px;
    height: 18px;
    border: 1px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100000;
    transition: all 0.3s linear;
    cursor: pointer;
}

.element-edit-icon {
    background-color: #ecfc7369;
}

.element-remove-icon {
    background-color: #fe7a7a70;
}

.element-move-icon:hover{
    background-color: #dcffd0;
    display: block;
}

.left-move-icon{
    width: 25px;
    height: 25px;
    background-color: antiquewhite;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    left: -5px;
    top: 0;
    transform: translateX(-100%);
    border-radius: 5px 0px 0px 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.image-box:hover .left-move-icon{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.image-box:hover .icon-container {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    
}

.movement-line {
    width: 100%;
    height: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999999;
}

.image-box .dynamic-image {
    width: 100% !important;
    height: 100% !important;
}

.image-box .image-container {
    width: 100%;
    height: 100%;
}


.preiview-container {
    padding: 2px 0px;
}

.preiview-container .preiview-image {
    border: 2px dashed #bcbcbc;
    margin-top: 1px;
    padding: 10px;
}


.upload-image {
    width: 100%;
    height: 200px;
    background-color: #FFF;
    border: 1px dashed #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-image .input-upload-image-label {
    cursor: pointer;
}