/* start reporting container */
.reporting-container {
    width: 100%;
    height: calc(100vh - 70px);
}

/* content of sidenav --- body container */
.reporting-container .sidenav-container {
    position: relative;
    height: 100%;
    padding: 10px 50px;
}


.reporting-container .reporting-sidenav {
    padding: 10px;
    width: 400px;
}

.reporting-container .toggle-reporting-drawer {
    position: fixed;
    right: 0%;
    top: 15%;
    border-radius: 4px 0px 0px 4px !important;
}

.reporting-container .mat-card-header-report , .mat-card-footer-report {
    padding: 10px 15px;
    border: 1px dashed #a0a0a0;
    border-radius: 10px;
    direction: ltr;
    min-height: 80px;
    position: relative;
}

.reporting-container .mat-card-content-report {
    border: 1px dashed #a0a0a0;
    border-radius: 10px;
    min-height: 500px;
    direction: ltr;
    position: relative;
    padding: 20px;
    padding-bottom: 50px !important;

}




.reporting-container .text-editable {
    background-color: transparent;
    border-color: transparent;
    padding: 10px;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.3s linear ;
    resize: none;
    direction: rtl;
    overflow: auto;
    overflow-y: hidden;  
    border-radius: 3px;
    min-width: 50px;
    width: fit-content;
    text-align: right;
    position: relative;

}

.reporting-container .text-editable:hover:not(:focus) {
    background-color: #ebecf0;
}

.reporting-container .text-editable:focus {
    background-color: #fff;
    border: 1px dashed #54585d;
    outline: none;
}



.reporting-container .add-text-box {
    padding: 5px 10px;
    border: 1px dashed #555;
    border-radius: 5px;
    cursor: pointer;
}

.reporting-container .headings-content {
    width: 100%;
    position: relative;
    gap: 20px;
    margin-bottom: 30px;
}


:host::ng-deep app-text-area {position: relative;}


/* end reporting container */

/*start image box*/

.reporting-container .image-box .dynamic-image {
    width: 100% !important;
    height: 100% !important;
}

.reporting-container .image-box .image-container {
    width: 100%;
    height: 100%;
}

.reporting-container .preiview-container {
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*end image box*/

/* start charts dialog */
.charts-container-dialog{
    background-color: antiquewhite;
    height: auto;
    overflow: auto;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    padding: 15px;
}

.chart-selector {
    padding: 10px;
    width: 115px;
    height: 110px;
    border: 1px dashed #555;
    border-radius: 8px;
    cursor: pointer;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-selector:hover {
    background-color: #ffffffa6;
    border: 2px solid #080;
}

.chart-name {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: aliceblue;
    text-align: center;
    margin-top: 5px;
}

.activeChart {
    background-color: #ffffffa6 !important;
    border: 2px solid #080 !important;
}

.dialog-content .charts-settings {
    background-color: antiquewhite;
     padding: 20px; 
}

::ng-deep .ui-dropdown {
    width: 100% !important;
    padding: 5px !important;
}

.par-describtion-way {
    padding: 15px 0px;
    width: 460px;
    color: #8e8e8e;
    font-size: 13px;
}

/* end charts dialog */