
.toggle-btn {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    color: #9b9b9b;
    
}


.font-align-group {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mydialog {
    width: 50vw;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}

.review-font {
    padding: 20px;
    background-color: aliceblue;
    font-size: 16px;
    border: 1px solid #DDD;
    
}

.btn-custom{
    border: none;
    color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f03a00;
}