<div class="text-dialog-container p-3" dir="rtl">
    <!-- form dialog edit -->
    <form class="text-editable-form" [formGroup]="textEditableForm" (ngSubmit)="editTextFormSubmit(textEditableForm)">

      <div class="row">
        <!-- font family select -->
        <div class="col-6">
          <div class="form-group text-right">
            <label for="fontFamily">نوع الخط</label>
            <select class="form-control" id="fontFamily" name="family" formControlName="family" style="padding: 10px; height: 50px;" (change)="changeFamilyReview($event)">
              <option value="Cairo, sans-serif">"Cairo", sans-serif</option>
              <option value="'Rubik', sans-serif">Rubik, sans-serif</option>
              <option value="'IBM Plex Sans Arabic', sans-serif">IBM Plex Sans Arabic, sans-serif</option>
              <option value="'Amiri', serif">'Amiri', serif</option>
            </select>
          </div>
        </div>
        <!-- font size select -->
        <div class="col-6">
          <div class="form-group text-right">
            <label for="fontFamily">حجم الخط</label>
            <select class="form-control" id="fontFamily" name="size" formControlName="size" style="padding: 10px; height: 50px;" (change)="changeSizeReview($event)">
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
              <option value="26">26</option>
              <option value="28">28</option>
              <option value="30">30</option>
              <option value="32">32</option>
              <option value="34">34</option>
              <option value="36">36</option>
            </select>
          </div>
        </div>
        <!-- styles -->
        <div class="col-12">
          <div class="text-right py-2">
            <div class="btn-group font-align-group" role="group" aria-label="Basic example">

              <button type="button" class="toggle-btn"
                [style.backgroundColor]="alignStyle == 'right' ? '#d4def3': '#FFF'" (click)="changeAlign('right')">
                <i class="fa-solid fa-align-right"></i>
              </button>
              <button type="button" class="toggle-btn"
                [style.backgroundColor]="alignStyle == 'center' ? '#d4def3': '#FFF'" (click)="changeAlign('center')">
                <i class="fa-solid fa-align-center"></i>
              </button>
              <button type="button" class="toggle-btn"
                [style.backgroundColor]="alignStyle == 'left' ? '#d4def3': '#FFF'" (click)="changeAlign('left')">
                <i class="fa-solid fa-align-left"></i>
              </button>
              <button type="button" class="toggle-btn" [style.backgroundColor]="isItalic ? '#d4def3': '#FFF'"
                (click)="selectItalic()">
                <i class="fa-solid fa-italic"></i>
              </button>
              <button type="button" class="toggle-btn" [style.backgroundColor]="isUndeline ? '#d4def3': '#FFF'"
                (click)="selectUndeline()">
                <i class="fa-solid fa-underline"></i>
              </button>
              <button type="button" class="toggle-btn" [style.backgroundColor]="isBold ? '#d4def3': '#FFF'"
                (click)="selectBold()">
                <i class="fa-solid fa-bold"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- color -->
        <div class="col-6">
          <div class="form-group w-100 text-right">
            <label for="fontFamily p-0 m-0">حجم الخط</label>
            <input id="fontColor" type="color" name="color" formControlName="color" style="width: 200px; height: 45px;" (input)="changeColorReview($event)">
          </div>
        </div>
        <!-- reviewer -->
        <div class="col-6">
          <div class="review-font my-2" #reviewText>
            اختبار
          </div>
        </div>
        <div class="col-12">
          <div class="action text-right">
            <button type="submit" class="btn btn-warning ml-2">تعديل</button>
            <button type="button" class="btn btn-light" (click)="closeDialog()">تجاهل</button>
          </div>
        </div>
      </div>

    </form>
  </div>